@media screen and (max-width: 498px) {

    #main-container {
        padding: .3rem .6rem;
        height: 100vh;
    }

    .button-style {
        width: 60px;
        height: 20px; 
        font-size: .5rem;
    }

    #section-control {
        padding: 1rem;
        width: 100%;
        height: 20vh;
    }

    #title-option-selected {
        font-size: .7rem;
    }

    .section-view-all {
        width: 100%;
    }

    .box-model-container-input {
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 5px;
    }

    
    input[type="text"] {
        padding: .3rem;
        background-color: transparent;
        border: none;
        transition: .6s;
        border: 1px solid #33333320;
    }

    input[type="text"]:focus {
        outline: none;
    }

    input[type="text"].box-error {
        border: 1px solid red;
    }

    #list-instructors li,
    #list-students li,
    #list-workouts li {
    display: flex;
    height: 50px;
    border: 1px solid #33333320;
    margin-top: 2px;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: .5rem;
    }

    #list-instructors li {
        border-left: 4px solid #14f;
    }
    
    #list-students li {
        border-left: 4px solid #ff6803;
    }
    
    #list-workouts li {
        border-left: 4px solid #040404
    }


}

@media screen and (max-width: 950px) {
    
    #title-option-selected {
        font-size: .6rem;
    }

    .section-view-all {
        height: auto;
    }

    #message-info {
        font-size: .7rem;
        opacity: 0;
        transition: .1s;
        position: absolute;
        top: 42%;
    }

    #list-instructors li,
    #list-students li,
    #list-workouts li {
    display: flex;
    height: 50px;
    border: 1px solid #33333320;
    margin-top: 2px;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: .5rem;
    }

    #list-instructors li {
        border-left: 4px solid #14f;
    }
    
    #list-students li {
        border-left: 4px solid #ff6803;
    }
    
    #list-workouts li {
        border-left: 4px solid #040404;
    }
    
}